.menu-box{
    width: 50%;
    margin: auto;
}

.menu-category{
    color: var(--dark);
    padding: 25px 0;
}

.menu-category h2{
    width: 80%;
    margin: auto;
    font-family: var(--Stint);
    font-weight: 600;
    font-size: 2rem;
    border-bottom: 2px solid var(--dark) ;
    text-align: center;
    margin-top: 25px;
}

.item a {
    color: var(--dark);
    text-decoration: none;
}

.row{
    color: var(--dark);
    margin-bottom: 25px;
}

.row .item{
    display: flex;
    justify-content: space-between;
    font-family: var(--Monts);
    font-weight: 600;
    margin: 15px 0 5px 0;
}

.row .desc {
    width: 80%;
    font-size: 0.8rem;
}

.row:last-child{
    padding-bottom: 75px;
}

@media screen and (max-width: 600px){
    .menu-box{
        width: 80%;
    }
}