
.box {
    position:relative;
    width: 100%;
}

.box select {
    background-color: var(--light);
    color: var(--dark);
    width: 100%;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding: 15px;
    border: unset;
    min-height: 70px;
    font-size: 1.2rem;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'><path d='M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 95%;
}

select::-ms-expand {
    display: none;
}

input[type="date"]{
    margin-bottom: 25px;
}

input[type="date"]::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button ,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}